/* Mafrel's Code 3/19/2018  */
* {
	margin: 0;
	padding: 0;
}

.profile-sidebar {
	position: fixed;
}

#user_default_image {
	width: 120px;
	height: 120px;
}

.profile-usertitle-name {
	text-align: center;
}

.profile-userpic {
	margin: auto;
	width: 120px;
	margin-top: 20px;
}

#userOptions>li>a {
	text-align: center;
}

#userFileBrowseButton {
	width: 100%;
	border-radius: 12px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.profile-userbuttons {
	width: 75%;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.profile-sidebar {
	width: 200px;
	border: 2px solid aliceblue;
	border-radius: 10px;
}

.container {
	width: 1300px;
}

.glyphicon-search {
	font-size: 1.5em;
}

/* @media (min-width: 992px) */
.custom-input-group {
	width: 320px;
}

#error_message {
	display: none;
}

#loginForm {
	height: 300px;
	line-height: 1.8;
}

#searchIcon {
	line-height: 0.1;
}

#addPostContainer>form {
	width: 800px;
	margin: auto;
	background-color: aliceblue;
	border-radius: 45px;
	border-color: burlywood;
}

#submitItemButton {
	float: right;
	position: relative;
	bottom: 35px;
}

#saveUpdatedPassworBtn {
	float: right;
	width: 25%;
}

.passwordChangeForm{
	width: 70%;
    border-radius: 40px;
    background-color: aliceblue;
    border-color: burlywood;
    margin: auto;
}